<html>
<head>
	<title>Choose your Achievement</title>
</head>
<body>
	<h1 action='/choose_achievement' method="POST", "GET">This is the story about a little bear called {{ username }}. This little bear always forgets where everything is. Help {{ username }} set some habits and restore order for once!</h1>

<!-- This will take you to the page where you will create your own achievement -->

	<form action='/results'>

		<span id="ok-create-achievement"></span>
		<button type="submit" id= "create_confirmation" name="createnew" value="new">
			Weekly planner</button>
	</form>

<script>
		var createAchievement = document.getElementById("ok-create-achievement");
		var button_left = document.getElementById("create_confirmation")
		function changeMessage() {
			button_left.innerText = "Ok, let's do it!"
		}
	button_left.addEventListener("click", changeMessage);
</script>

	<form action='/results'>

		<span id="predetermined-achievement"></span>
		<button id= "predetermined_confirmation" name="choosefrom" value="old">
			Random</button>
	</form>

<!-- This will take you to the page where you can select an achievement that was already created. -->

<script>
		var chooseAchievement = document.getElementById("predetermined-achievement");
		var button_right = document.getElementById("predetermined_confirmation")
		function changeMessage() {
			button_right.innerText = "Let's go!"
		}
		
	button_right.addEventListener("click", changeMessage);
</script>


</body>
</html>