<!DOCTYPE HTML>
<html lang="en-US">
<head>
<title>TEST</title>
<script src="static/Storage.js"></script>
<link rel="stylesheet" href="static/calendar.css">
</head>
<h1>{{ additionalgoals }}  This is where you get to see your achievements...</h1>
<div class="month"> 
  <ul>
    <li>Some random week<br>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Monday</li>
  <li>Tuesday</li>
  <li>Wednesday</li>
  <li>Thursday</li>
  <li>Friday</li>
  <li>Saturday</li>
  <li>Sunday</li>
</ul>

<ul class="days"> 
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>


</ul>
<body>

</body>
</html>