<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create your own</title>
</head>

<body>
<h1>Set your goal here.</h1>

    <form action = "/created" method="POST">

        Name your achievement:
            <input type="text" name="nameofachievement">

        <br><br>

        I want to do this:
  
        <select id ="recurrenceid" name="recurrence">
            <option value="every day!">every day!</option>
            <option value="sometime during the week">sometime during the week</option>
            <option value="I'm content if I do this at least once a month">I'm content if I do this at least once a month</option>
            <option value="every year!">every year!</option>
        </select>
        <input type="submit" id ="save_button" value="&#9829; save &#9829;">

    </form>

<script>
    
</script>

</body>
</html>