

<head>
<style>
.button {
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #ffa500;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #ffa500}

.button:active {
  background-color: #ffa500;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>

<body>
<h1>Welcome!</h1>

        <div class="jumbotron">
            <h1>Habits App</h1>
            <div>
                <h2>Please login</h2>
            <form action="/login" method = "POST">
                <p>To get started just type your name as your username and type "password" in the password field.</p>
                Username: <input type="text" name="username"><br><br>
                Password: <input type="password" name="password"><br><br>
                <input type="submit" class ="button"><span></span></button>
            </form> 
        </div>
    </div>

    
