<!DOCTYPE html>
<html>
<head>
<title>TEST</title>
</head>
<style>
body {font-family: "Lato", sans-serif;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

ul.tab li {float: left;}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.tab li a:hover {
    background-color: #ddd;
}

ul.tab li a:focus, .active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
</style>

<style>
td,th {
  font-family: monospace;
  padding: 4px;
  background-color: #ccc;
}

label {
  vertical-align: top;
}

#PlayArea {
  border: 1px dotted blue;
  padding: 6px;
  background-color: #ccc;
  margin-right: 50%;
}

#items_table {
  border: 1px dotted blue;
  padding: 6px;
  margin-top: 12px;
  margin-right: 50%;
}

#items_table h2 {
  font-size: 18px;
  margin-top: 0px;
  font-family: sans-serif;
}
</style>
<body>
<h1>
  <h1>Achievements</h1>
    <p>Your achievement is: {{ nameofachievement }}<p>
    <p>Recurrence: {{ recurrence }}</p></h1>

<p>HABITS</p>

<ul class="tab">
  <li><a href="#" class="tablinks" onclick="openDay(event, 'Monday')">Monday</a></li>
  <li><a href="#" class="tablinks" onclick="openDay(event, 'Tuesday')">Tuesday</a></li>
  <li><a href="#" class="tablinks" onclick="openDay(event, 'Wednesday')">Wednesday</a></li>
  <li><a href="#" class="tablinks" onclick="openDay(event, 'Thursday')">Thursday</a></li>
  <li><a href="#" class="tablinks" onclick="openDay(event, 'Friday')">Friday</a></li>
  <li><a href="#" class="tablinks" onclick="openDay(event, 'Saturday')">Saturday</a></li>
  <li><a href="#" class="tablinks" onclick="openDay(event, 'Sunday')">Sunday</a></li>
</ul>

<class name=goalsList1>
  <div id="Monday" class="tabcontent">
      <h3>Monday</h3>
      <p>Monday</p>

    <form name=goalsList1>
        <div id="monday-goals">
          <table>
            <tr>
              <td><b>New Goal:</b><input type=text name=name id=name1></td>
              <td><b>Notes:</b><input type=text name=data id=data1></td>
            </tr>

            <tr>
                <td>
                  <input type=button value="Save"   onclick="SaveItem(1)"> 
                  <input type=button value="Modify" onclick="ModifyItem(1)"> 
                  <input type=button value="Remove" onclick="RemoveItem(1)">
                </td>
            </tr>
          </table>
        </div>

        <div id="items_table1">
            <h2>List of goals</h2>
            <table id="list1"> </table>
          <p>
            <label><input type=button value="Clear" onclick="ClearAll(1)">
          </p>
        </div>
    </form>

  </div>
  <div id="Tuesday" class="tabcontent">
    <h3>Tuesday</h3>
    <p>Tuesday</p> 

    <form name=goalsList2>
        <div id="tuesday-goals">
          <table>
            <tr>
              <td><b>New Goal:</b><input type=text name=name id=name2></td>
              <td><b>Notes:</b><input type=text name=data id=data2></td>
            </tr>

            <tr>
                <td>
                  <input type=button value="Save"   onclick="SaveItem(2)"> 
                  <input type=button value="Modify" onclick="ModifyItem(2)"> 
                  <input type=button value="Remove" onclick="RemoveItem(2)">
                </td>
            </tr>
          </table>
        </div>

        <div id="items_table2">
            <h2>List of goals</h2>
            <table id="list2"> </table>
          <p>
            <label><input type=button value="Clear" onclick="ClearAll(2)">
          </p>
        </div>
    </form>

  </div>
  <div id="Wednesday" class="tabcontent">
    <h3>Wednesday</h3>
    <p>Wednesday</p>

    <form name=goalsList3>
        <div id="wednesday-goals">
          <table>
            <tr>
              <td><b>New Goal:</b><input type=text name=name id=name3></td>
              <td><b>Notes:</b><input type=text name=data id=data3></td>
            </tr>

            <tr>
                <td>
                  <input type=button value="Save"   onclick="SaveItem(3)"> 
                  <input type=button value="Modify" onclick="ModifyItem(3)"> 
                  <input type=button value="Remove" onclick="RemoveItem(3)">
                </td>
            </tr>
          </table>
        </div>

        <div id="items_table3">
            <h2>List of goals</h2>
            <table id="list3"> </table>
          <p>
            <label><input type=button value="Clear" onclick="ClearAll(3)">
          </p>
        </div>
    </form>

  </div>
  <div id="Thursday" class="tabcontent">
    <h3>Thursday</h3>
    <p>Thursday</p>

    <form name=goalsList4>
        <div id="thursday-goals">
          <table>
            <tr>
              <td><b>New Goal:</b><input type=text name=name id=name4></td>
              <td><b>Notes:</b><input type=text name=data id=data4></td>
            </tr>

            <tr>
                <td>
                  <input type=button value="Save"   onclick="SaveItem(4)"> 
                  <input type=button value="Modify" onclick="ModifyItem(4)"> 
                  <input type=button value="Remove" onclick="RemoveItem(4)">
                </td>
            </tr>
          </table>
        </div>

        <div id="items_table4">
            <h2>List of goals</h2>
            <table id="list4"> </table>
          <p>
            <label><input type=button value="Clear" onclick="ClearAll(4)">
          </p>
        </div>
    </form>

  </div>
  <div id="Friday" class="tabcontent">
    <h3>Friday</h3>
    <p>Friday</p>

    <form name=goalsList5>
        <div id="friday-goals">
          <table>
            <tr>
              <td><b>New Goal:</b><input type=text name=name id=name5></td>
              <td><b>Notes:</b><input type=text name=data id=data5></td>
            </tr>

            <tr>
                <td>
                  <input type=button value="Save"   onclick="SaveItem(5)"> 
                  <input type=button value="Modify" onclick="ModifyItem(5)"> 
                  <input type=button value="Remove" onclick="RemoveItem(5)">
                </td>
            </tr>
          </table>
        </div>

        <div id="items_table5">
            <h2>List of goals</h2>
            <table id="list5"> </table>
          <p>
            <label><input type=button value="Clear" onclick="ClearAll(5)">
          </p>
        </div>
    </form>

  </div>
  <div id="Saturday" class="tabcontent">
    <h3>Saturday</h3>
    <p>Saturday</p>

    <form name=goalsList6>
        <div id="saturday-goals">
          <table>
            <tr>
              <td><b>New Goal:</b><input type=text name=name id=name6></td>
              <td><b>Notes:</b><input type=text name=data id=data6></td>
            </tr>

            <tr>
                <td>
                  <input type=button value="Save"   onclick="SaveItem(6)"> 
                  <input type=button value="Modify" onclick="ModifyItem(6)"> 
                  <input type=button value="Remove" onclick="RemoveItem(6)">
                </td>
            </tr>
          </table>
        </div>

        <div id="items_table6">
            <h2>List of goals</h2>
            <table id="list6"> </table>
          <p>
            <label><input type=button value="Clear" onclick="ClearAll(6)">
          </p>
        </div>
    </form>

  </div>

  <div id="Sunday" class="tabcontent">
    <h3>Sunday</h3>
    <p>Sunday</p>

    <form name=goalsList7>
        <div id="sunday-goals">
          <table>
            <tr>
              <td><b>New Goal:</b><input type=text name=name id=name7></td>
              <td><b>Notes:</b><input type=text name=data id=data7></td>
            </tr>

            <tr>
                <td>
                  <input type=button value="Save"   onclick="SaveItem(7)"> 
                  <input type=button value="Modify" onclick="ModifyItem(7)"> 
                  <input type=button value="Remove" onclick="RemoveItem(7)">
                </td>
            </tr>
          </table>
        </div>

        <div id="items_table7">
            <h2>List of goals</h2>
            <table id="list7"> </table>
          <p>
            <label><input type=button value="Clear" onclick="ClearAll(7)">
          </p>
        </div>
    </form>
  </div>
</class>

  <form action='/results'>
    <button id= "goals_in_progress" name="choosefrom" value="old">GOALS IN PROGRESS</button>
  </form>

<script>
function openDay(week, weekDay) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tabcontent.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(weekDay).style.display = "block";
    week.currentTarget.className += " active";
}

$(document).ready(function(e) {

  $('#add-todo').button({
    icons: {
        primary: "+"
    }
  }).click(function() {
    $('#new-todo').dialog('open');
  });
}); 
</script>

<script>
// done
function SaveItem(numOfWeek) {
      
  var name = document.getElementById("name"+numOfWeek).value;
  var data = document.getElementById("data"+numOfWeek).value;
  var goals = localStorage[numOfWeek] ? JSON.parse(localStorage[numOfWeek]) : {} ;
  goals[name] = data;

  localStorage.setItem(numOfWeek, JSON.stringify(goals));
  doShowAll(numOfWeek);
  
}

function ModifyItem(numOfWeek) {
  var name = document.forms.goalsList.name.value;
  document.forms.goalsList.data.value = localStorage.getItem(name);
  doShowAll();
}

function RemoveItem(numOfWeek) {
  var name = document.forms.goalsList.name.value;
  document.forms.goalsList.data.value = localStorage.removeItem(name);
  doShowAll();
}
// done
function ClearAll(numOfWeek) {
  delete localStorage[numOfWeek];
  doShowAll(numOfWeek);
}

//done
function doShowAll(numOfWeek) {
  if (CheckBrowser()) {
    var key = "";
    var list = "<tr><th>Goal</th><th>Recurrence</th></tr>\n";
    var i = 0;
    var goals = localStorage[numOfWeek] ? JSON.parse(localStorage[numOfWeek]) : {};
    var goalsKeys = Object.keys(goals);
    for (i = 0; i <= goalsKeys.length - 1; i++) {
      key = goalsKeys[i];
      list += "<tr contenteditable><td>" + key + "</td>\n<td>"
          + goals[key] + "</td></tr>\n";
    }
    if (list == "<tr><th>Goal</th><th>Recurrence</th></tr>\n") {
      list += "<tr><td><i>nothin' here</i></td>\n<td><i>nothin' here either</i></td></tr>\n";
    }
    document.getElementById('list'+numOfWeek).innerHTML = list;
  } else {
    alert('Cannot store shopping list as your browser do not support local storage');
  }
}

function CheckBrowser() {
  if ('localStorage' in window && window['localStorage'] !== null) {

    return true;
  } else {
      return false;
  }
}
</script>
     
</body>
</html> 
